@model IEnumerable<Test.BOL.Modelos.Usuario>

@{
    ViewData["Title"] = "Usuario";
}

<h1>Usuario</h1>

<p>
    <button type="button" class="btn btn-warning" onclick="Agrega(0)">Agregar Usuario</button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Correo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                  <button type="button" class="btn btn-outline-primary" onclick="Agrega(@item.IdUsuario)">Editar</button>
                  <button type="button" class="btn btn-outline-danger" onclick="BorrarUsuario(@item.IdUsuario)">Borrar</button>
            </td>
        </tr>
}
    </tbody>
</table>

<div class="modal fade" id="ModalEdicion" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" id="ContenidoModal">
            <span class="fa-li"><i class="fas fa-spinner fa-pulse"></i></span>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">

        function Agrega(Id) {
            var pagina = '@Url.Action("AgregaUsuario", "Home")';
            pagina += "/" + Id;
            $("#ContenidoModal").load(pagina);
            $('#ModalEdicion').modal();

            $('#ModalEdicion').on('shown.bs.modal', function () {
                $(document).off('focusin.modal');
            });
        }
        function GuardaUsuario() {
            var form = $('#FormModalUsuario')[0];
            var data = new FormData(form);
            $.ajax({
                type: 'POST',
                url: '@Url.Action("AgregaUsuarioP", "Home")',
                enctype: 'multipart/form-data',
                processData: false,  // Important!
                contentType: false,
                cache: false,
                data: data,
                timeout: 600000,
                success: function (data) {

                    if (data.isSuccess) {
                        alert("Se agrego Usuario");
                        location.reload();
                    }
                    else {
                        alert("Error verifique sus datos");
                        location.reload();
                    }
                },
            });
        }
        function BorrarUsuario(id) {
            var dato = {
                "Id": id,
            };
            $.ajax({
                type: 'POST',
                url: '@Url.Action("BorrarUsuario", "Home")',
                data: dato,
                success: function (data) {
                    if (data == true) {
                        alert("Se elimino Usuario");
                        location.reload();
                    }
                    else {
                        alert("error");
                        location.reload();
                    }
                },
            });
        }
       
    </script>
}
